@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ADD STAFF MODULE */
.addstaff-tr {
  margin-bottom: 20px;
}
.addstaff-formTitle {
  font-weight: 600;
  font-family: "Roboto Serif";
  margin: 10px;
}
.addstaff-fromInputBox {
  width: 200px;
  margin: 10px;
  height: 28px;
  border: none;
  outline: none;
  border-bottom: 2px solid #6e7373;
  font-size: 17px;
  background-color: #f0f2f5;
}
.addstaff-fromInputBox:focus {
  border-bottom: 2px solid #1876d1;
}
.addstaff-button {
  outline: none;
  border: none;
  background: none;
  width: 110px;
  height: 35px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3dbf8e;
  color: white;

}
.addstaff-dis-button {
  outline: none;
  border: none;
  background: none;
  width: 110px;
  height: 35px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  border-radius: 5px;
  background-color: #3dbf8e;
  cursor: not-allowed;
}
.addstaff-button:hover {
  width: 130px;
  opacity: 100%;
  background-color:#2bad7c;
  font-weight:600;
}

.sidebar {
  position: absolute;
  transition: all 0.8s;
  transform: translateX(-30rem);
  width: 15.5rem;
  height:100%;
}
.sidebar.open {
  transform: translateX(0);
}
.close-icon {
  position: absolute;
  right: 1rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.close-icon:hover {
  color: red;
}

.profile-icon {
  width: 140px;
  border-radius: 50%;
}
.profile-field {
  width: 180px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: rgb(226, 226, 226);
}
.radio-btn{
  margin: 15px;
  padding:5px;
}

.studstaff-button{
  outline: none;
  border: none;
  background: none;
  width: 150px;
  height: 43px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  border-radius: 5px;
  background-image: linear-gradient(to right,#d587de,#d344e3);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.studstaff-dis-button{
  outline: none;
  border: none;
  background: none;
  width: 150px;
  height: 43px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  border-radius: 5px;
  background: rgb(189, 188, 188);
  color:rgb(240, 236, 236);
  cursor:not-allowed;
}

.studstaff-button:hover{
  background-image: linear-gradient(to left,#d587de,#d344e3);
}

.change-input{
  outline: none;
  border:none;
  background: none;
  border-radius: 4px;
  width: 150px;
  height: 32px;
  margin-left:14px;
  background-color: #dbdbdb;
  font-size:15px;
  padding-left:10px;
}

.chg-psw-btn{
  outline: none;
  border:none;
  background: none;
  border-radius: 4px;
  width: 180px;
  height:34px;
  background-color: #2c80d4;
  color: white;
  cursor: pointer;
}
.chg-psw-btn:hover{
  font-weight: 600;
  background-color: #1876D1;
}
.chg-dis-psw-btn{
  outline: none;
  border:none;
  background: none;
  border-radius: 4px;
  width: 180px;
  height:34px;
  background-color: #bacfe3;
  color: white;
  cursor: not-allowed;
}
.add-atten{
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  background: none;
  border-radius: 4px;
  font-weight: bolder;
  background-color:#2bad7c;
  color: white;
  cursor: pointer;
  margin-left:10px;
}
.stud-button{
  outline: none;
  border: none;
  background: none;
  width: 150px;
  height: 43px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  border-radius: 5px;
  background-image: linear-gradient(to right,#6c80bd,#1d4ee0);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
textarea{
  border-radius: 4px;
}

.present{
  width: 100px;
  padding:5px 10px;
  border-radius: 5px;
  background-color: #20994c;
  color:white;
}
.absent{
  width: 100px;
  padding:5px 10px;
  border-radius: 5px;
  background-color:#e22b34;
  color:white;
}